body {
	margin:0;
	background-image: url('images/rainbowbg-compressed.jpg');
	background-size: cover;
	background-color: black;
	color: white;
	font-family: 'Pacifico', cursive;
}

h1 {
	display: inline-block;
	text-align: center;
	font-size: 3em;
	background-color: rgba(0,0,0,.7);
	padding:30px;
	border-radius: 10px;
}

table, tr, td{
	font-size: 65px;
	text-align: center;
	border: none;
	box-shadow: 0 0 40px 15px rgba(0,0,0,.4);
	color:black;
}

td {
	width: 140px;
	height: 140px;
	background-color: rgba(255, 255, 255, 0.6);
}

header {
	background-color: rgba(0,0,0,.7);
	max-height: 140px;
}

button {
	padding: 20px;
	border-radius: 10px;
	background-color: white;
}

hr {
	display: inline-block;
}

#board {
	margin: auto;
	max-width: 500px;
	max-height:500px;
}

#id {
	text-align: center;
}

#player1 {
	float:left;
	color: black;
	padding: 30px;
	margin-left: 250px;
	background-color: white;
	border-radius: 10px;
	visibility: hidden;
}

#player2 {
	float: right;
	color: black;
	padding: 30px;
	margin-right: 250px;
	background-color: white;
	border-radius: 10px;
	visibility: hidden;
}

#result {
	text-align: center;
	font-size: 1.5em;
	line-height: 1.5em;
	color:black;
	height:1.5em;
	padding:10px;
	background-color: white;
	width: 200px;
	margin: 20px auto;
	border-radius: 10px;
}

#scoreboard {
	margin: auto;
	width: 600px;
	text-align: center;
	color: white;
}

#scoreboardTitle {
	line-height: 2em;
	text-decoration: underline;
}

#mainMenu {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-image: url('images/rainbowbg-compressed.jpg');
	background-size: cover;
	text-align: center;
}

#mainMenu button {
	display: block;
	margin: 20px auto;
}

#clearBoard {
	position: fixed;
	right: 200px;
	top: 35px;
	width: 150px;
}

#mainMenuButton {
	position: fixed;
	right: 30px;
	top: 35px;
	width: 150px;
}

.playerScore {
	display: inline-block;
	width: 200px;
	font-size: 2em;
}

.playerScore p {
	margin: 0 0 20px 0;
	font-size: 1em;
}

.hide {
	visibility: hidden;
}

.container {
	width: 40%;
	margin: 10px auto;
	padding: 5px;
	background-color: rgba(0,0,0,.7);
	border-radius: 10px;
	color: white;
	font-size: 1.5em;
}

.container h2 {
	font-size: 1.5em;
}


/*######################## Button CSS ###############################*/
.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	padding: 10px 30px;
  margin: 0px 10px 10px 0px;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 25px;
	color: #FFF;
	text-decoration: none;
	width: 200px;
}

.blue
{
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

.red
{
	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}

.green
{
	background-color: #82BF56;
	border-bottom: 5px solid #669644;
	text-shadow: 0px -2px #669644;
}

.yellow
{
	background-color: #F2CF66;
	border-bottom: 5px solid #D1B358;
	text-shadow: 0px -2px #D1B358;
}

.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}



/*#################### Page Spin ######################*/

#rotate {
	position: fixed;
	right: 10px;
	bottom: 10px;
	background-color: transparent;
	color: white;
}

.rotate {
	-webkit-animation:anime 4s infinite;
  -webkit-animation-timing-function: linear;
}

@keyframes anime{
  0% {transform: rotateZ(0deg); background-color:#00ff00;}
  24%{background-color:#00ff00;}
  25%{background-color:#ff00ff;}
  49%{background-color:#ff00ff;}
  50%{background-color:#ffff00;}
  74%{background-color:#ffff00;}
  75%{background-color:#00ffff;}
  100%{transform: rotateZ(360deg); background-color:#00ffff;}

}

@-webkit-keyframes anime{
  0% {-webkit-transform: rotateZ(0deg); background-color:#00ff00;}
  24%{background-color:#00ff00;}
  25%{background-color:#ff00ff;}
  49%{background-color:#ff00ff;}
  50%{background-color:#ffff00;}
  74%{background-color:#ffff00;}
  75%{background-color:#00ffff;}
  100%{-webkit-transform: rotateZ(360deg); background-color:#00ffff;}

}
