body {
	margin:0;
	background-image: url('images/rainbowbg.jpg');
	background-size: cover;
	background-color: black;
	color: white;
}

h1 {
	display: inline-block;
	text-align: center;
	font-size: 3em;
	background-color: rgba(0,0,0,.7);
	padding:30px;
	border-radius: 10px;
}

table, tr, td{
	font-size: 65px;
	text-align: center;
	border: none;
	box-shadow: 0 0 40px 15px rgba(0,0,0,.4);
	color:black;
}

td {
	width: 150px;
	height: 150px;
	background-color: rgba(255, 255, 255, 0.6);
}

header {
	background-color: rgba(0,0,0,.7);
}

button {
	padding: 20px;
	border-radius: 10px;
	background-color: white;
}

#board {
	margin: auto;
	max-width: 500px;
	max-height:500px;
}

#id {
	text-align: center;
}

#player1 {
	float:left;
	color: black;
	padding: 30px;
	margin-left: 50px;
	background-color: white;
	border-radius: 10px;
	visibility: hidden;
}

#player2 {
	float: right;
	color: black;
	padding: 30px;
	margin-right: 50px;
	background-color: white;
	border-radius: 10px;
	visibility: hidden;
}

#result {
	text-align: center;
	font-size: 1.5em;
	line-height: 1.5em;
	color:red;
	height:1.5em;
	padding:10px;
	background-color: white;
	width: 200px;
	margin: 20px auto;
	border-radius: 10px;
}

#scoreboard {
	margin: auto;
	width: 600px;
	text-align: center;
	color: white;
}

#scoreboardTitle {
	line-height: 2em;
	text-decoration: underline;
}

#mainMenu {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-image: url('images/rainbowbg.jpg');
	background-size: cover;
	text-align: center;
}

#mainMenu button {
	display: block;
	margin: 20px auto;
}

#clearBoard {
	position: fixed;
	right: 120px;
	top: 35px;
}

#mainMenuButton {
	position: fixed;
	right: 10px;
	top: 35px;
	width: 100px;
}

.playerScore {
	display: inline-block;
	width: 200px;
	font-size: 1.3em;
}

.hide {
	visibility: hidden;
}

.container {
	width: 40%;
	margin:80px auto;
	padding: 30px;
	background-color: rgba(0,0,0,.7);
	border-radius: 10px;
	color: white;
	font-size: 2em;
}